---
import { ButtonIconAnchor } from '@/components/ui/buttonIconAnchor';
import { Github, Moon, Sun } from 'lucide-react';
import { ButtonIcon } from '@/components/ui/buttonIcon';
---

<header
  class="fixed z-20 flex h-16 w-full items-center justify-between gap-4 border-b bg-background/70 px-8 backdrop-blur-sm"
>
  <div class="flex items-center gap-3">
    <picture>
      <img src="/img/miel-icon.png" alt="Logo Miel UI" class="h-10 drop-shadow-sm" />
    </picture>
    <div class="flex items-end gap-1">
      <span class="text-3xl font-bold leading-none dark:text-white">MIeL</span><span
        class="text-3xl font-semibold leading-none text-muted-foreground">UI</span
      >
    </div>
  </div>
  <div class="flex gap-2">
    <ButtonIcon
      variant="secondary"
      Icon={Sun}
      className="lightThemeButton absolute -z-10 opacity-0 dark:z-10 dark:opacity-100"
    />
    <ButtonIcon
      variant="secondary"
      Icon={Moon}
      className="darkThemeButton opacity-100 dark:opacity-0"
    />
    <ButtonIconAnchor
      variant="secondary"
      href="https://github.com/lmorrone/miel-ui"
      target="_blank"
      Icon={Github}
    />
  </div>
</header>

<script>
  const lightThemeButton = document.querySelector('.lightThemeButton');
  const darkThemeButton = document.querySelector('.darkThemeButton');

  lightThemeButton?.addEventListener('click', () => {
    document.documentElement.classList.remove('dark');
    document.querySelector('#prismTheme')?.setAttribute('href', '/css/prism-one-light.css');
    localStorage.theme = 'light';
  });

  darkThemeButton?.addEventListener('click', () => {
    document.documentElement.classList.add('dark');
    document.querySelector('#prismTheme')?.setAttribute('href', '/css/prism-one-dark.css');
    localStorage.theme = 'dark';
  });
</script>
