<nav
  class="fixed inset-0 left-0 z-10 mt-16 hidden w-[20rem] overflow-y-auto border-r bg-background p-8 lg:block"
>
  <div class="text-lg font-semibold">Fundamentos</div>
  <ul class="mb-6 ml-3 mt-3 flex flex-col gap-3">
    <li><a class="hover:font-bold" href="/">Introducción</a></li>
    <li><a class="hover:font-bold" href="/colors">Colores</a></li>
    <li><a class="hover:font-bold" href="/colors">Íconos</a></li>
    <li><a class="hover:font-bold" href="/colors">Tipografía</a></li>
  </ul>
  <div class="text-lg font-semibold">Átomos</div>
  <ul class="mb-6 ml-3 mt-3 flex flex-col gap-3">
    <li><a class="hover:font-bold" href="/alerts">Alerts</a></li>
    <li><a class="hover:font-bold" href="/buttons">Buttons</a></li>
  </ul>
  <div class="text-lg font-semibold">Moléculas</div>
  <ul class="mb-6 ml-3 mt-3 flex flex-col gap-3">
    <li><a class="hover:font-bold" href="/buttons">Button group</a></li>
  </ul>
</nav>
