<ul class="flex flex-col gap-4">
  <li><a class="hover:font-bold" href="/">Introducción</a></li>
  <li><a class="hover:font-bold" href="/buttons">Buttons</a></li>
  <li><a class="hover:font-bold" href="/colors">Colors</a></li>
</ul>
