---
interface Props {
  title: string;
}

import { slugify } from '@/lib/utils';
import { Link2 } from 'lucide-react';

const { title } = Astro.props;
const slug = slugify(title);
---

<section class="group my-6">
  <header class="mb-5">
    <h2 class="flex gap-3 text-xl font-semibold" id={slug}>
      {title}
      <a
        href={`#${slug}`}
        class="hidden text-secondary-400 transition-all hover:text-primary group-hover:block dark:text-secondary-600"
        ><Link2 /></a
      >
    </h2>
    {
      Astro.slots.has('description') && (
        <div class="mt-2 text-muted-foreground">
          <slot name="description" />
        </div>
      )
    }
  </header>
  <div class="rounded-lg border border-secondary p-6 shadow-sm">
    <slot />
  </div>
</section>
