---
import Layout from '@/layouts/Layout.astro';
import Article from '@/layouts/components/Article.astro';
import Section from '@/layouts/components/Section.astro';

import AlertVariantExamples, {
  getCode as getAlertVariantExamplesCode,
} from '@/components/examples/alerts/alertVariantExample';
import AlertClosableExamples, {
  getCode as getAlertClosableExamplesCode,
} from '@/components/examples/alerts/alertClosableExample';
import AlertIconsExamples, {
  getCode as getAlertIconsExamplesCode,
} from '@/components/examples/alerts/alertIconsExample';

const variantCode = getAlertVariantExamplesCode();
const closableCode = getAlertClosableExamplesCode();
const iconCode = getAlertIconsExamplesCode();
---

<Layout title="Alerts">
  <Article title="Alerts">
    <Fragment slot="description">Descripción general del componente</Fragment>
    <Section title="Variants" code={variantCode}>
      <Fragment slot="description">Variantes del alert</Fragment>
      <AlertVariantExamples client:load />
    </Section>
    <Section title="Closable y onClose" code={closableCode}>
      <Fragment slot="description">Variantes del alert</Fragment>
      <AlertClosableExamples client:load />
    </Section>
    <Section title="Íconos" code={closableCode}>
      <Fragment slot="description">Variantes del alert</Fragment>
      <AlertIconsExamples client:load />
    </Section>
  </Article>
</Layout>
