---
interface Props {
  title?: string;
}

import '@/styles/globals.css';
import Menu from '@/layouts/components/Menu.astro';
import Header from '@/layouts/components/Header.astro';
import Footer from '@/layouts/components/Footer.astro';

const { title } = Astro.props;
const fullTitle = title ? title + ' - MIeL UI' : 'MIeL UI';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="stylesheet" href="/css/prism-one-light.css" id="prismTheme" />
    <meta name="generator" content={Astro.generator} />
    <title>{fullTitle}</title>
    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
        document.querySelector('#prismTheme').setAttribute('href', '/css/prism-one-dark.css');
      } else {
        document.documentElement.classList.remove('dark');
        document.querySelector('#prismTheme').setAttribute('href', '/css/prism-one-light.css');
      }
    </script>
  </head>
  <body class="bg-background text-foreground">
    <Header />
    <Menu />
    <main class="flex min-h-screen flex-col justify-between lg:pl-[20rem]">
      <div class="container flex-grow pb-6 pt-24 lg:px-[4rem]">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  html {
    @apply text-sm leading-normal;
  }
</style>
